{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Symbol</th>
            <th scope="col">Name</th>
            <th scope="col">Shares</th>
            <th scope="col">Price</th>
            <th scope="col">Total</th>
    </tr>
    </thead>
    <tbody>
        {% for stock in stocks %}
        <tr>
            <td>{{ stock["symbol"] }}</td>
            <td>{{ stock["name"] }}</td>
            <td>{{ stock["SUM(shares)"] }}</td>
            <td>{{ stock["price"] | usd }}</td>
            <td>{{ stock["SUM(total)"] | usd }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td>Cash</td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td>{{ cash[0]["cash"] | usd }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}